{% extends "base.html" %}
{% load staticfiles %}
 
{% block content %}
 
  <app-root>Loading the app...</app-root>
 
  <script type="text/javascript" src="{% static 'front-end/static/front-end/runtime.js' %}"></script>
  <script type="text/javascript" src="{% static 'front-end/static/front-end/polyfills.js' %}"></script>
  <script type="text/javascript" src="{% static 'front-end/static/front-end/styles.js' %}"></script>
  <script type="text/javascript" src="{% static 'front-end/static/front-end/vendor.js' %}"></script>
  <script type="text/javascript" src="{% static 'front-end/static/front-end/main.js' %}"></script>
 
{% endblock %}